.BottomBar {
    position: fixed;
    bottom: 0;
    height: 3em;
    width: 100%;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
}

.BottomBar .linkWrap {
    box-sizing: border-box;
    border-radius: 0.3em;
    padding: 0.3em 0.8em;
    margin: 0.5em 1em;
    background-color: white;
    line-height: 1.3em;
}

a {
    text-decoration: none;
}