.Thumbnails {
    display: grid;
    flex-wrap: wrap;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
}

.thumbnail {
    height: 30%;
}

.Thumbnails img {
    width: 100%
}

.thumbnailPopUp {
    display: none;
}

.thumbnail:hover .thumbnailPopUp {
    display: block;
}