.App {
  text-align: center;
}

.App-logo {
  height: 70%;
  /* padding-top: 30px; */
}

.App-header {
  background-color: rgb(85, 81, 81);
  height: 150px;
  padding: 50px; 
  color: white;
}

.App-title {
  font-size: 1.5em;
  padding-bottom: 200px;
}

.App-intro {
  font-size: large;
}

nav {
  margin: 10px 0;
}

nav > li {
  display: inline-block;
  margin: 0 10px;
}

.nav-link {
  text-decoration: none;
  padding: 5px 10px;
}

.nav-link:visited {
  color: rgb(141, 134, 134);
}

.nav-link.active {
  border: 1px solid black;
}

.images {
  list-style: none;
  margin: 50px 0;
  padding: 50px;
  width: 250px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  background: white;
}

button {
  color: white;
  background-color: rgb(141, 134, 134);
} 

.remove {
  color: white;
  background-color: rgb(141, 134, 134);
  margin-left: 20px;
} 



