.Gallery {
    height: 100%;
}

.imgSlide {
    height: 60%;
    width: 80%;
    margin: 1em auto;
    overflow: hidden;
}

.Gallery img {
    height: 90%;

}

.galleryButtons {
    display: flex;
    justify-content: center;
    height: 10%;
}

.galleryButtons h1 {
    width:50%;
    text-align: center;
    background-color: black;
    border-radius: 0.25em;
    color: white;
    margin: 0.75em 1em;
    line-height: 1.5em;
}