.imageManagerDisplay {
    position: fixed;
    right: 0;
    background: gray;
    width: 20em;
    margin-top: 1.2em;
    border-bottom: 2px solid white;        
}

.imageManagerDisplay h4 {
    background: black;
    margin: 0;
    border-top: 2px solid white;
    padding: 0.5em 1em;
    text-align: left;
}

.imageManagerDisplay section {
    text-align: right;
    margin-bottom: 0.5em;
    padding: 0.5em;
    padding-right: 1em;
}

.imageManagerDisplay input {
    width: 90%;
    margin: 0.5em 5%;
    border: none;
    border-radius: 0.3em;
    padding: 0.2em;
    text-align: left;
}

.imageManagerDisplay textarea {
    width: 90%;
    margin: 0.5em 5%;
    border-radius: 0.3em;
    padding: 0.2em;
    text-align: left;
}

.imageManagerDisplay select {
    width: 92.5%;
    max-height: 25em;
    margin: 0.5em 5%;
    border-radius: 0.3em;
    padding: 0.2em;
    text-align: left;
}

.imageManagerDisplay .submit {
    line-height: 1.5em;
    text-align: center;
    font-weight: bold;
    width: 92.5%;
}

