.AlbumThumb {
    width: 100%;
}

.albumThumbSlide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.AlbumThumb img {
    flex-shrink: 0;
    /* min-width: 100%;
    min-height: 100% */
}